.qnaContainer {
    width: 1440px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.qna-nav {
    padding-bottom: 20px;
    border-bottom: 2px solid #546D01;
}

.qna-notice {
    border: 1px solid #A4CC22;
    border-radius: 10px;
    padding: 10px 30px;
    margin-top: 16px;
}

.qna-notice li {
    list-style-type: square;
    margin-bottom: 20px;
}

.qna-tab {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #d6d6d6;
}

.qna-tab button {
    margin: 10px;
    border: none;
    background-color: white;
    color: #e6e6e6;
    text-align: center;
    font-family: Anonymous Pro;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.qna-head {
    text-align: center;
    border-top: 2px solid #546d01;
    border-bottom: 2px solid #546d01;
    padding: 16px;
}

.qna-table td {
    border-top: 1px solid #ccc;
    padding: 16px;
}

.qna-detail-container {
    width: 1440px;
    margin: 0 auto;
}

.qna-detail-box {
    padding: 30px;
}

.qna-title {
    display: flex;
    justify-content: space-between;
}

.qna-writter-info {
    display: flex;
    justify-content: flex-end;
}

.qna-detail-content {
    min-height: 800px;
    border: 1px solid #ccc;
}

.qna-detail-qnatab-content {
    min-height: 400px;
    border: 1px solid #ccc;
    padding: 16px;
}

.qna-detail-qnatab-response {
    min-height: 400px;
    padding: 30PX;
}

.qna-detail-qnatab-btn {
    display: flex;
    justify-content: flex-end;


}

.qna-detail-qnatab-response {
    .rdw-editor-toolbar {
        display: none;
    }
}

.qna-detail-container {
    .DraftEditor-root {
        border: 1px solid #ccc !important;
        height: 250px;
    }
}

.qna-detail-container {
    .rdw-editor-wrapper {
        height: 300px !important;
    }
}