.boardContainer {
  width: 1440px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.board-detail-container {
  width: 1440px;
  padding: 30px;
  margin: 0 auto;
}

.board-nav {
  border-bottom: 1px solid #d6d6d6;
  position: relative;
}

.board-button {
  display: flex;
  justify-content: center;
}

.board-button button {
  margin: 10px;
  border: none;
  background-color: white;
  color: #e6e6e6;
  text-align: center;
  font-family: Anonymous Pro;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.board-detail-container h2 {
  padding: 14px;
}

.board-detail-kind {
  border-bottom: 3px solid #546d01;
}

.board-detail-box {
  padding: 30px;
}

.board-detail-header {}

.board-title {
  display: flex;
  justify-content: space-between;

}

.board-title h3 {
  margin: 16px;
}

.board-reportBtn {
  margin: 10px;
}

.board-writter-info {
  display: flex;
  justify-content: flex-end;
}

.board-detail-content {
  min-height: 800px;
  border: 1px solid #546d01;
}

.board-detail-content div {
  margin: 20px;
}

.board-detail-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.board-detail-btn button {
  margin-left: 16px;
}

.board-reply-container {
  padding: 30px;
}

.board-reply-header {
  padding: 10px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.board-reply-header button {
  margin: 16px;
}

.board-reply-input {
  margin: 10px;
}

.board-reply-content {
  margin-top: 10px;
  padding: 10px;
  background-color: #F9F9F9;
}

.reply-button-area {
  display: flex;
  justify-content: space-between;
}

.reply-childBtn-area {
  display: flex;
}

.reply-childBtn-area p {
  margin-right: 16px;
}

.reply-writter,
.reply-content,
.reply-date,
.reply-button-area {
  margin-bottom: 10px;
}

.reply-writter p {
  font-weight: 700;
}

.board-child-reply-container {
  border-top: 1px solid #546d01;
  padding: 16px;
}

.board-child-reply-content {
  margin-bottom: 10px;
}

.child-reply-writter {
  font-weight: 700;
}

.report-head {
  text-align: center;
}

.report-alert {
  text-align: center;
  margin-top: 16px;
  color: red;
}

.board-detail-review-info-list {
  border: 2px solid #546d01;
  border-bottom: none;
}

// .board-detail-review-info-list ul {
//   height: 100%;
// }

.board-detail-review-dataname {
  margin: 0 20px;
}
.board-detail-review-info {
  display: flex;
  border-bottom : 1px dashed #ccc;
  height: 50px;
  align-items: center;
}

.review-field {
  border: none;
}