.board-table {
  border-collapse: collapse;
  width: 100%;
}

.table-head,
td {
  border-top: 1px solid #ccc;
  padding: 16px;
}
.table-head {
  text-align: center;
}
.table-no, .table-date {
  text-align: center;
}

.table-head {
  border-top: 2px solid #546d01;
  border-bottom: 2px solid #546d01;
}
.search-box {
  display: flex;
  justify-content: center;
  margin: 16px;
}
.search-box input {
  font-size: 20px;
  padding: 0px 10px;
  width: 460px;
  height: 60px;
  border-radius: 15px;
  border: 2px solid #546D01;
}
