table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border-top: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  border-top: 2px  solid #546D01;
  border-bottom: 2px solid #546D01;
}

