.login-form{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  input[type="email"], input[type="password"] {
    border: 1px solid #546D01;
    border-radius: 5px;
    color: #343434;
    height: 30px;
    width: 60%;
    margin: 10px 0;

    &:focus {
      border-color: #A4CC22;
      outline: none;
      box-shadow: 0 0 2px rgba(#A4CC22, 1);
    }
  }

  .login-box {
    width: 400px;
    height: 500px;
    margin:  auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      /* ======로고 css========================================== */
      
      .logo-size{
        width: 150px;
        height: 120px;
        margin-bottom: 20px;
      
      }
      /* ======로그인 css========================================== */
      
      h2 {
        margin: 20px 0 20px;
        padding: 0;
        text-transform: uppercase;
        color: #4688F1;
      }
      /* ====== 오류메시지 css========================================== */
      
      .login-error-message {
        font-size: 18px;
        font-weight: bold;
        color: red;
        margin-top: -3px;
      }
      
      
      /* ======회원가입, 아이디, 비번찾기 css========================================== */
      .page-change-box {
        margin: 10px 0;

        .page-change{
          text-decoration: none;
          color: #343434;
          margin-top: 20px;
          &:hover{
            color: #546D01;
          }
        }
      }
      
      /* ======로그인버튼 css========================================== */

      .login-button{
        background-color: #A4CC22;
        text-align: center;
        color: #FFF;
        border: solid 1px #546D01;
        cursor: pointer;
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        vertical-align: middle;
        width: 190px;
        height: 40px;
        margin: 10px 0;
        border-radius: 5px;
        outline: rgb(255, 255, 255) none 0px;
        transition: all 0.2s cubic-bezier(0.72, 0.01, 0.56, 1) 0s;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
      
      }
      
      .login-button:hover{
        background-color: #FFF;
        color: #A4CC22;
      }
      
      
      
      /* ======구글 로그인 버튼 css==========================================*/
      
      .social-button {
        width: 190px;
        height: 45px;
        background-image: url(/images/btn_google_signin_light_normal_web.png);

        &:hover {
          background-image: url(/images/btn_google_signin_light_focus_web.png);
        }

        &:active {
          background-image: url(/images/btn_google_signin_light_pressed_web.png);
        }
      }
 
  } 
}
