//봉사활동신청하기 페이지
.pageTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 60px;
  font-size: 30px;
  border-bottom: 2px solid #D6D6D6;
  padding: 15px 0px;
  span {
    padding-left: 20px;
  }
}
//캘린더 예약페이지
.calender{
  min-height: 100vh;
  width: 800px;
  margin: 0 auto;

  header{
    align-items: center;
    padding: 0px 20px;
    width: auto;

    .monthChangebutton {
      height: 25px;
      width: 25px;
      color: #546D01;
      padding: 15px;
      
      &:hover {
        color: #A4CC22;
      }
    }

    h1 {
      color: #343434;
    }
  }
  .calendarBody {
    height: 800px;
    width: 800px;
    margin: 0 auto;
    box-sizing: border-box;

    .day{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    place-items: center;
    padding: 10px;
    justify-content: center;
    height: 50px;
    }
  
    .calendarDate {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(5, 1fr);
    place-items: center;
    padding: 10px;
    justify-content: center;
    box-sizing: border-box;

      .dateLabelBox {
        display: grid;
        width: 100px;
        height: 100px;
        padding: 5px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);

        &.selectedDay {
          // box-shadow: 0 0 4px rgba(#546D01, 1.0);
          background-color: #546D01;
          color: white;
          text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
        }

        &:hover {
          box-shadow: 0 0 4px rgba(#546D01, 1.0);
        }

        &:active {
          box-shadow: 0 0 4px rgba(#546D01, 1.0);
        }

        .dateLabel {
          width: 100px;
          white-space: pre;
          cursor: pointer;
          box-sizing: border-box;
          
          &.today {
            font-weight: bold;
          }

          &.before {
            font-weight: 400;
            color: #ccc;
            cursor: default;

            &:hover {
              border: none;
            }
          }

          
        }

        

        .reserveTime {
          width: 100px;
          font-size: 12px;
          white-space: pre-wrap;
          line-height: 1.5;
        }
      }

      button{
      display: none;
      }
    }
  }
  .btnSelectBox {
    display: flex;
    justify-content: flex-end;

    a {
      color: white;
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);   
    }

    .btnSelectDate,.btnBack {
      width: 120px;
      height: 40px;
      border: none;
      border-radius: 5px;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
      background-color: #A4CC22;
      color: white;
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
      margin: 10px;
  
      &:active {
        background-color: #546D01;
      }
  
      &:hover {
        cursor: pointer;
      }
    }
  }
}
//예약정보 확인 페이지

.reserveConfirm {
  padding: 100px 0;
  .reserveInfo {
    display: flex;
    flex-direction: column;
    border: 2px solid #A4CC22;
    border-radius: 5px;
    width: 600px;
    height: 450px;
    margin: 0 auto;

    .reserveInfoTitle {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 50px;
      background-color: #A4CC22;
      color: white;
      font-size: 20px;
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
      margin-bottom: 30px;
    }

    .reserveDetail1 {
      display: flex;
      flex-direction: column;
      
      span {
        height: 40px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 10px;
      }
    }

    .reserveDetail2 {
      display: flex;
      flex-direction: column
      ;
      span {
        height: 40px;
        padding: 0 10px;
      }
    }

    .reserveDetail3 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      span {
        height: 40px;
        font-size: 18px;
      }

      .btnChoose {
        button {
          width: 100px;
          height: 40px;
          color: white;
          border: none;
          border-radius: 5px;
          
        }

        #btnConfirm {
          background-color: #A4CC22;
          &:hover {
            background-color: darken(#A4CC22, 10%);
          }
        }
  
        #btnDeny {
          background-color: #546D01;
          &:hover {
            background-color: darken(#546D01, 5%);
          }
        }
      }
    }

  }
}