//Header grid
header{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #546D01;
  width: 100%;
  
  .logoWrap{
    #logoImg{
      width: 8rem;
      height: 6rem;
    }
  }
}

//========= 로그인 후 버튼 ====================================================
.loginName {
  position: relative;
  margin-top: 0px;
  font-weight: bold;
  border: 3px solid #a2c42f;
  border-radius: 5px;
  height: 40px;
  top: 15px;
  padding: 5px;
  background-color: rgba(51, 139, 33, 0.185);
}

.loginImg{
  position: relative;
  top: 8px;
  margin-right: 3px;
  width: 30px;
  height: 23px;
  border: 1px solid transparent;
  border-radius: 50%;
}

.logoutBtn {
  border: 3px solid #8f8f8f;
  margin-top: 25px;
  height: 20px;
  padding: 10px 20px 10px 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  background-color: white;
  margin-left: 10px;
  color: #8f8f8f;
  
}

.logoutBtn img {
  width: 22px;
  height: 22px;
  position: relative;
  top: 6px;
  left: 7px;
}

//********* 로그인 후 버튼  끝 *********************************************

nav{
  margin: 0;
  padding: 0;
  transition: 1s ease-in-out;
  background-color: white;
  display: flex;
  text-align: center;
  justify-content: center;

    ul{
      width: 150px;
      margin: auto;
      padding-top: 20px;
      list-style: none;
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      &:hover{
        color: #A4CC22;
        cursor: pointer;
      }
    }
}




//dropBox
.dropBox {
  position: relative;
  z-index: 99;
  width: 150px;
  height: auto;
  // border: 1px solid #546D01;
  background-color: #A4CC22;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 0px;
  margin-top: 20px;
  a {
    color: white;
  }
  .dropItem {
    height: 25px;
    text-align: center;
    list-style-type: none;
    margin: 10px 0px;
    font-weight: 400;
    color: white;

    &:hover {
      height: 25px;
      text-align: center;
      list-style-type: none;
      margin: 10px 0px;
      font-size: 17px;
      font-weight: 400;
      cursor: pointer;
      transition: font-size 0.3s ease;
      
    }
  }
  
}
//UtilWrap
.utilWrap {
  display: flex;
  list-style: none;
  align-items: center;

  li {
    width: 80px;
    height: 50px;
    padding-top: 20px;
    margin-right: 10px;
    text-align: center;
  }
  
  a:hover {
    color: #A4CC22;
    cursor: pointer;
  }
}