.vDetail {
  width: 1000px;
  height: auto;
  margin: 0 auto;
  padding-bottom: 100px;
  

// 버튼라인
  .buttonLine {
    width: 100%;
    display: flex;
    justify-content: space-between;

    button {
      width: 100px;
      height: 40px;  
      color: white;
      border: none;
      margin: 10px;
      border-radius: 5px;
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);        
    }

    #btnSubmit {
      background-color: #A4CC22;

      &:active {
        background-color: darken(#A4CC22, 10%);
      }
    }

    #btnToList {
      background-color: #546D01;

      &:active {
        background-color: darken(#546D01, 10%);
      }
    }

  }
//봉사활동 세부사항
  .vDetailCategory{
    width: 1000px;
    border-top: 3px solid #546D01;
    border-bottom: 3px solid #546D01;
    border-left: 1px solid #546D01;
    border-right: 1px solid #546D01;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    white-space: pre-wrap;
    
    margin: 0 auto;
    
    div {
      border-bottom: 1px dashed #D6D6D6;
      padding: 10px 10px;
      height: 30px;
      line-height: 30px;
    }

    .categoryTitle {
      grid-column-start: 1;
      grid-column-end: 3;
      border-bottom: 3px solid #546D01;
      font-size: 20px;
      font-weight: bold;
    }

    .categoryState {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    .categoryFile {
      grid-column-start: 1;
      grid-column-end: 3;
      border: none;
    }
  
  }
//내용 부분
  .vDetailContents {
    width: 1000px;
    min-height: 300px;
    height: auto;
    border-left: 1px solid #546D01;
    border-right: 1px solid #546D01;
    margin: 0 auto;

    p {
      padding: 10px;
      margin: 0;
      white-space: pre-wrap;
    }
  }
// 담당자 연락처 부분
  .contactList {
    width: 1000px;
    min-height: 200px;
    border-top: 3px solid #546D01;
    border-bottom: 3px solid #546D01;
    border-left: 1px solid #546D01;
    border-right: 1px solid #546D01;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;

    .contactItem {
      padding: 10px;
    }
  }
}