.ad-container {
    background-color: #f5f4f4;
    border: 1px solid #ccc;
    margin: auto;
    padding: 10px;
    width:70%;
}
.ad-board {

}
.ad-board-manage-table {
    border: 1px solid #ccc;
    border-collapse: collapse;
}
.ad-board-manage-table td {
    border: 1px solid #ccc;
}
.ad-board-table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%;
}

.ad-board-head {
    border: 1px solid #ccc;
    background-color: #f5f4f4;
    text-align: center;
    padding: 0 16px;
}

.ad-board-item {
    background-color: white;
    border: 1px solid #ccc;
    padding: 0 16px;
}