.ad-board {
    margin: auto;
    width:70%;
}
.ad-board-table {
    border-collapse: collapse;
    width: 100%;
}

.ad-board-head {
    border-top: 1px solid #ccc;
    background-color: #f5f4f4;
    text-align: center;
    padding: 0 16px;
}

td {
    padding: 0 16px;
}