.PW-Container{
    width: 700px;
    height: 600px;
    margin: 30px auto;
    margin-top: 250px;
    margin-left: 465px;
}

.PW-Confirm{
    margin: 30px auto;
    font-size: 25px;
    font-weight: bold;
}

.PW-Confirm-box{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    font-size: 17px;
    margin-left: 15px;
}

.PW-Confrim-Btn{
    width: 300px;
    height: 55px;
    margin: 20px auto;
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Noto Serif KR', serif;
    border: 2px solid #9DCB09 ;
    background-color: #9DCB09;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin-left: 150px;
}

.PW-Confrim-Btn:hover{
    background-color: #FFF;
    color: #9DCB09;
}

.chek-PWShowBtn{
    width: 110px;
    padding: 10px;
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Noto Serif KR', serif;
    border: 2px solid #9DCB09 ;
    background-color: #9DCB09;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}

.chek-PWShowBtn:hover{
    background-color: #FFF;
    color: #9DCB09;
}