<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>상세정보</title>
</head>
<body>
    <div class="container" id="descBox">
        <h3 id="progrmNo"></h3>
        <p id="progrmName"></p>
    </div>

</body>
<script>
    async function detail() {
        await fetch('api/detail', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: {
                'progrmRegistNo':''
            }
        })
            .then(data => data.json())
            .then({

            })
    }
</script>
</html>