<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div style="margin:100px;">
    <h1> 안녕하세요.</h1>
    <h1> 봉사활동 참여를 위한 플랫폼 '나눔' 입니다.</h1>
    <br>
    <p> 아래 발급된 임시 비밀번호를 통해 로그인 하실 수 있습니다.</p>
    <p> 로그인 후 마이 페이지 > 내 정보 수정 에서 비밀번호를 재설정 하시기 바랍니다.</p>
    <br>
    <div align="center" style="border:1px solid black; font-family:verdana;">
        <h3 style="color:blue"> 임시 비밀번호 입니다. </h3>
        <div style="font-size:130%" th:text="${code}"> </div>
    </div>
    <br/>
</div>

</body>
</html>