.volunteer-request-container {
  width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  padding-bottom: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  
  .volunteer-request-list{
    width: 1000px;
    min-height: 750px;
    margin: 0 auto;


    .volunteer-request{
      margin: 10px;
      margin-top: 30px;
    }

    .category-top {
      border: 1px solid #546D01;
    }

    .category-bottom {
      border: 1px solid #546D01;
      margin-top: 50px;
    }


    .volunteer-request-table{
      display: grid;
      grid-template-areas: 
      "code status"
      "title status"
      "detail status"
      ;
      grid-template-columns: 85% 15%;
      grid-template-rows: 25% 45% 30%;
      border-bottom: 1px dashed #D6D6D6;

      height: 100px;
      margin-top: 5px;
      padding: 0 10px;

      .request-CLCode{
        display: flex;
        align-items: center;
        grid-area: code;
        
        .flowerIcon {
          color: #546D01;
        }
      }

      .request-program-title {
        display: flex;
        align-items: center;
        font-size: 20px;
        grid-area: title;
        cursor: pointer;
        padding-left: 20px;

        a {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .request-detail {
        grid-area: detail;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;

        span {
          display: flex;
          align-items: center;
        }
        .circleIcon {
          height: 12px;
          width: 12px;
          margin-right: 3px;
        }
      }

      .buttonBox {
        grid-area: status;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .status {
          margin-bottom: 10px;
        }
        //라벨로 꾸미기
        .cancelBtn {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100px;
          height: 30px;
          border: 1px solid #A4CC22;
          border-radius: 5px;
          background-color: #A4CC22;
          color: white;
          cursor: pointer;
          
          &:active {
            background-color: darken(#A4CC22, 10%);
          }

          &.block {
            display: none;
          }
        }
        //버튼숨기기
        #cancelBtn {
          display: none;
        }

        //VolunteerSpec 후기버튼
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #546D01;
          border-radius: 5px;
          background-color: #546D01;
          color: white;
          height: 40px;
          width: 130px;

          &:active {
            background-color: darken(#546D01, 5%);
          }
        }
      }
    }
  }
}