.PW-logo-size{
    height: 250px;
    margin-left: 160px;
    margin-bottom: 30px;
}

.PW-Container{
    width: 700px;
    height: 600px;
    margin: 30px auto;
    margin-top: 100px;
    margin-left: 450px;
}

.PW-Confirm{
    margin: 10px auto;
    font-size: 25px;
    font-weight: bold;
}

.PW-Confirm-box{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    font-size: 17px;
    margin-left: 15px;
    margin-bottom: 15px;
    border: 3px solid #ada6a6;
}

.PW-Confrim-Btn{
    width: 300px;
    height: 55px;
    margin: 20px auto;
    border: 2px solid #9DCB09 ;
    background-color: #9DCB09;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    color: #fff;
    display: inline-block;
    margin-left: 170px;
}

.PW-Confrim-Btn:hover{
    background-color: #FFF;
    color: #9DCB09;
}

.PW-Confrim-Btn2{
    width: 330px;
    height: 55px;
    margin: 20px auto;
    border: 2px solid #9DCB09 ;
    background-color: #9DCB09;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    color: #fff;
    display: inline-block;
    margin-left: 173px;
}

.PW-Confrim-Btn2:hover{
    background-color: #FFF;
    color: #9DCB09;
}



.chek-PWShowBtn{
    width: 110px;
    padding: 10px;
    border: 2px solid #9DCB09 ;
    background-color: #9DCB09;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}

.chek-PWShowBtn:hover{
    background-color: #FFF;
    color: #9DCB09;
}

// 오류 및 성공 문구 
.PW-Change-error{
    margin-left: 210px;
    color: red;
    font-size: 15px;
}

.PW-Change-success{
    margin-left: 210px;
    color: blue;
    font-size: 15px;
}