
.PW-Container{
    width: 700px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .PW-logo-size{
        width: 200px;
        height: 150px;
        margin: 0 auto;
    }
    
    .PW-Confirm{
        margin: 10px auto;
        
        .PW-Confirm-box{
            width: 250px;
            height: 30px;
            border-radius: 5px;
            margin-left: 15px;
            margin-bottom: 15px;
            border: 1px solid #D6D6D6;
        }

        .chek-PWShowBtn{
            padding: 10px 20px;
            border: none ;
            background-color: #546D01;
            border-radius: 5px;
            text-align: center;
            color: #fff;
            display: inline-block;
            margin-left: 5px;
            font-size: 14px;
            cursor: pointer;
     
            &:hover{
                background-color: darken(#546D01, 5%);
            }
        }
    }
    
    .buttonBox {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .PW-Confrim-Btn{
            width: 200px;
            height: 40px;
            border: none ;
            background-color: #A4CC22;
            border-radius: 5px;
            text-align: center;
            color: #fff;
            cursor: pointer;
        
            &:hover{
                background-color: darken(#A4CC22, 10%);
            }
        }
    }

    .message {
        display: flex;
        justify-content: center;
        align-items: center;
        // 오류 및 성공 문구 
        &.PW-Change-error{
            color: red;
            font-size: 15px;
        }
        
        &.PW-Change-success{
            color: #546D01;
            font-size: 15px;
        }
    }


    
    
}

