.review-change{
  display: inline-block;
  width: 250px;
  height: 45px;
  background-color: #4ed4499a;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
  font-size: 17px;
  text-align: center;
  font-weight: bold;
  font-family: 'Black Han Sans', sans-serif;
  font-family: 'Noto Serif KR', serif;
  position: relative;
  left: 50px;
}